server {
       listen 80;
       listen [::]:80;

       server_name {{ main_website }} www.{{ main_website }};

       root /var/www/html/{{ main_website }};
       index index.html;

       location / {
               try_files $uri $uri/ =404;
       }
}
