server {
	listen 80;
	listen [::]:80;

        server_name {{ main_website }} www.{{ main_website }};
 
        root /var/www/html/{{ main_website }};
        index index.html;

        location /Domoticz/
        {
                proxy_pass http://192.168.178.57:8080/;
        proxy_buffering off;
        }

        location /Prometheus/
        {
                proxy_pass http://192.168.178.62:9090/;
        proxy_buffering off;
        }

        location /
        {
                try_files $uri $uri/ =404;
        }
}

log_format mtail '$host $remote_addr - $remote_user [$time_local] '
                 '"$request" $status $body_bytes_sent $request_time '
                 '"$http_referer" "$http_user_agent" "$content_type"';
